# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database files
*.db
*.sqlite
*.sqlite3
src/data/*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.idea/
.vscode/
venv/
# talk here
#pls send the google meet
# again why? you alredy have it
#C-: because i lost the meet
#u gotta type ur symbol like this: l^^l
# wait a sec: https://meet.google.com/oro-rfwu-jqs
# fine: :) (●'◡'●)whaT WAS THYE POINT OF THAT!! join the meet
#TYME WASTERS
#and why did u pout caps
# C-: BRO SEND THE LINK ALREAdfy
# right here: https://meet.google.com/oro-rfwu-jqs
#c-:send a pipe pls like whta do you mena i semnt it by whaatsapp

#c- no send it here
#c- is sri ram here still?
#c- is the session expiring?
#c-wait im not joing the google meet
#c- becayse i like typing
#c- And i can practise
#c- lool
#c- haha
go to damn meet the collobaration will end soon
#c- ok ill join the meet
