colorama==0.4.6
argparse~=1.4.0
wheel~=0.45.1
cryptography~=45.0.4
keyring~=25.6.0
numpy~=2.2.6
rich~=14.0.0
typing_extensions~=4.14.0
Pygments~=2.19.2
markdown-it-py~=3.0.0
requests~=2.32.4
mdurl~=0.1.2
charset-normalizer~=3.4.2
setuptools~=80.9.0
cffi~=1.17.1
pyinstaller~=6.14.2
click~=8.2.1
tqdm~=4.67.1
Jinja2~=3.1.6
pydantic~=2.11.7
packaging~=25.0
torch~=2.7.1
psutil~=7.0.0
pydantic_core~=2.33.2
MarkupSafe~=3.0.2
certifi~=2025.6.15
urllib3~=2.5.0
annotated-types~=0.7.0
pillow~=11.2.1
docutils~=0.21.2
idna~=3.10
Faker~=37.11.0